@model List<SMT.Models.DB.CalificacionExamenViewModel>
@{
    int index = 1;
}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Alumno</th>
            @foreach (SMT.Models.DB.CalificacionExamenViewModel exa in Model)
            {
                <th class="vertical">@exa.titulo</th>
            }
            <th class="vertical">Aprobados</th>
            <th class="vertical">No aprobados</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SMT.Models.DB.Alumno al in ViewBag.alumnos)
        {
            int aprobados = 0, reprobados = 0;
            <tr>
                <td class="text-center">@(index++)</td>
                <td class="text-center">@al.NombreCompleto</td>
                @foreach (SMT.Models.DB.CalificacionExamenViewModel exa in Model)
                {
                    var cali = exa.calificaciones.Where(i => i.idAlumno == al.IDAlumno).Select(i => i.calificacion).FirstOrDefault();
                    aprobados += cali >= 6 ? 1 : 0;
                    reprobados += cali < 6 ? 1 : 0;

                    <td class="text-center">@(SMT.Models.Util.calificacionSEP10String(cali))</td>
                }
                <td class="text-center">@aprobados</td>
                <td class="text-center">@reprobados</td>
            </tr>

        }
    </tbody>
    <tfoot>
        <tr>
            <th class="text-right" colspan="2">Promedio</th>

            @foreach (SMT.Models.DB.CalificacionExamenViewModel exa in Model)
            {
                <th class="text-center">@(SMT.Models.Util.calificacionSEP10String(exa.calificaciones.Count > 0 ? exa.calificaciones.Select(i => SMT.Models.Util.calificacionSEP10(i.calificacion)).Average() : 0))</th>
            }

        </tr>
    </tfoot>
</table>

<script>
    setTimeout(print, 800);
</script>